#-*- coding: utf-8 -*-
""" 
{{ tc_list[0].testfile_declaration }}
"""
import os, sys, io
import requests
from requests import Request, Session
import pytest
import json, time
from common import api_test_util as util
from common.exceptions import APITestException
{% set this_component = tc_list[0].project_str %}from {{ this_component }} import {{ this_component }}_constants as constants
from {{ this_component }} import {{ this_component }}_util
# this_apipath = ({{tc_list[0].method.upper()}}){{tc_list[0].path}}
{% for a_tc in tc_list %}
def test_get_{{a_tc.test_declartion_str}}:
    """ {{ a_tc.testmethod_declaration }} """
{% if a_tc.path_params_set_str != "" %}    {{a_tc.path_params_set_str}}{%- endif %}
    headers = { {{ a_tc.header_str }} }
    params = {
        {{a_tc.query_params_str}}
    }
    response = {{a_tc.request_str}}, params=params, headers=headers)
{% for a_assert in a_tc.assert_str_list %}    {{ a_assert }}{%- endfor %}

{% endfor %}
